@page "/"
@using Microsoft.AspNetCore.Components.Sections

<PageTitle>Home</PageTitle>

<SectionContent SectionName="page-title">
  <h3 class="text-white fw-bold text-center">Chúng Tôi Chỉ Rút Gọn Những Link Dài Mà Thôi <br /> Link Ngắn Quá Sẽ Không Hoạt Động Nha</h3>
</SectionContent>

@* <h1>Hello, world!</h1>

Welcome to your new app.


<h2>
  <i class="bi bi-android"></i> Hello
</h2>

<button type="button" class="btn btn-primary">
  thử show nút
</button> *@

@* làm một form chứa textbox để nhập đường link dài ở đây *@


