@page "/"
@using Microsoft.AspNetCore.Components.Sections
@using RutGonLink.Client.SharedComponents

<PageTitle>Home</PageTitle>

<SectionContent SectionName="page-title">
  <h3 class="text-white fw-bold text-center">Chúng Tôi Chỉ Rút Gọn Những Link Dài Mà Thôi <br /> Link Ngắn Quá Sẽ Không Hoạt Động Nha</h3>
</SectionContent>

@* <h1>Hello, world!</h1>

Welcome to your new app.


<h2>
  <i class="bi bi-android"></i> Hello
</h2>

<button type="button" class="btn btn-primary">
  thử show nút
</button> *@

@* làm một form chứa textbox để nhập đường link dài ở đây *@


<div class="row">
  <div class="col-sm-6 my-2 mx-auto rounded shadow">
    <FormRutGonLink @rendermode="InteractiveAuto" />
  </div>
</div>

<div class="row my-2">
  <div class="col-12">

    <h3 class="fw-bold mb-4">
      Kết quả: (nên dùng area)
    </h3>
    <ul class="list-unstyled">
      <li>
        <p class="">&rarr;</p> Link ban đầu
      </li>
      <li>
        <p class="">&rarr;</p> Link sau khi đã rút gọn
      </li>
      <li>
        <p class="">&rarr;</p> Link rút gọn copy trong một lần click
      </li>
    </ul>
  </div>
</div>


