@inherits LayoutComponentBase

<div class="page">
  <div class="sidebar">
    <NavMenu />
  </div>

  @* <div class="container-fluid bg-light text-black top-banner">
      test
    </div> *@
  <div class="bg-primary text-white text-center py-3">
    <p class="mb-0">Chào Mừng Đến Trang Web Rút Gọn Link Của Chúng Tôi</p>
  </div>

  <form>
    <div class="form-group">
      <label for="exampleInput">Nhập vào Link cần rút gọn</label>
      <input type="text" class="form-control" id="exampleInput" aria-describedby="link" placeholder="Long Link">
      <small id="emailHelp" class="form-text text-muted">Chúng tôi sẽ không chia sẻ thông tin của bạn</small>
    </div>
    
    <button type="submit" class="btn btn-primary">Rút Gọn Link</button>

    <textarea></textarea>

  </form>

  <main>
    <div class="top-row px-4">
      <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
    </div>

    <article class="content px-4">
      @Body
    </article>
  </main>
</div>

<div id="blazor-error-ui">
  An unhandled error has occurred.
  <a href="" class="reload">Reload</a>
  <a class="dismiss">🗙</a>
</div>
