@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Sections

@* <div class="page">
  <div class="sidebar">
    <NavMenu />
  </div>

  <div class="container-fluid bg-light text-black top-banner">
      test
    </div>
  <div class="bg-info text-white text-center py-3">
    <p class="mb-0">Chào Mừng Đến Trang Web Rút Gọn Link Của Chúng Tôi</p>
  </div>

  <form>
    <div class="form-group">
      <label for="exampleInput">Nhập vào Link cần rút gọn</label>
      <input type="text" class="form-control" id="exampleInput" aria-describedby="link" placeholder="Long Link">
      <small id="emailHelp" class="form-text text-muted">Chúng tôi sẽ không chia sẻ thông tin của bạn</small>
    </div>
    
    <button type="submit" class="btn btn-primary">Rút Gọn Link</button>

    <textarea></textarea>

  </form>

  <main>
    <div class="top-row px-4">
      <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
    </div>

    <article class="content px-4">
      @Body
    </article>
  </main>
</div> *@

<div class="page">
  @* <div class="container-fluid top-banner">
    infinity
    &infin;
    &#128279;
    <NavMenu />
  </div> *@

  <div class="container mt-3">
    <div class="row mt-5 mb-2">
      <div class="col-12">
        <div class="row">
          <div class="col-sm-6 d-flex align-items-end">

            @* <a href="/" class="text-decoration-none text-dark">
            <h3>Nhập Link Cần Rút Gọn Vào</h3>
          </a> *@

            <h3 class="fw-bold m-0">
              <a href="/" class="text-decoration-none text-dark">Web Này Dùng Để Rút Gọn Link</a>
            </h3>

            @* <a href="/" class="text-decoration-none">Nhập Link Cần Rút Gọn Vào</a> *@
          </div>

          <div class="col-sm-6 d-flex justify-content-end">
            @* <a href="Account/Login" class="btn btn-primary">
              Đăng Nhập
            </a> *@
            <NavMenu />
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      @* <div class="col-12 bg-dark p-4 rounded">
        <SectionOutlet SectionName="page-title" />
        <SectionOutlet SectionName="heading" />
        @Body
      </div> *@
      <div class="col-12 bg-info p-4 rounded">
        @* <h3 class="text-white fw-bold text-center">Chúng Tôi Chỉ Rút Gọn Những Link Dài Mà Thôi <br /> Link Ngắn Quá Sẽ Không Hoạt Động Nha</h3> *@
        @* <Microsoft.AspNetCore.Components.Sections.SectionOutlet></Microsoft.AspNetCore.Components.Sections.SectionOutlet> *@
        <SectionOutlet SectionName="page-title" />
        <SectionOutlet SectionName="heading" />
        @Body
      </div>
      
    </div>
  </div>
</div>





<div id="blazor-error-ui">
  An unhandled error has occurred.
  <a href="" class="reload">Reload</a>
  <a class="dismiss">🗙</a>
</div>
